doctype html
html
    style
        include ../js-css/css/nav.css
        include ../js-css/css/star.css
        include ../js-css/css/articleCon.css
        include ../js-css/layui/css/layui.css
    body
        include nav-title.pug
        div(id='con')
        div(id='artilceDetails')
            div(class='up')
                div(class='title') !{article.title}
                span(class='author') !{article.author.username}
                span(class='date') 发表于:!{article.created.toLocaleString()}
                span(class='type') 分类:!{article.type}
            hr(class="layui-bg-white")
            div(class='content') !{article.content}
        hr(class="layui-bg-white")
        ul 
            li 1
            li 2
        //- div(id='paging' data-maxNum=maxNum)
        //- #paging(data-maxNum=maxNum)
    script(src="/layui/layui.js")
    script.
        layui.use(['laypage', 'layer'], function(){
            let laypage = layui.laypage
                layer = layui.layer;
            const $ = layui.$;
        })
    script
        include ../js-css/js/nav-title.js
        include ../js-css/js/star.js

    