doctype html
html
    style
        include ../js-css/css/nav.css
        include ../js-css/css/star.css
        include ../js-css/css/articleCon.css
        include ../js-css/layui/css/layui.css
        include ../js-css/css/comment.css
    body
        include nav-title.pug
        //-文章详情
        div(id='artilceDetails')
            div(class='up')
                h1(class='artid' data-artid=article._id)
                div(class='title')=article.title
                div(class='art-info')
                    span(class='author') !{article.author.username} &nbsp
                    span(class='date') 发表于:!{article.created.toLocaleString()}&nbsp
                    span(class='type') 分类:!{article.interest}
            hr(class="layui-bg-white")
            div(class='content') !{article.content}
        hr(class="layui-bg-white")
        //-评论部分
        div#comment
            ul.comment-list
                each info in comment
                    li
                        img(src= info.from.headPhoto)
                        div
                            p.author !{info.from.username}
                            p.time 发表于：!{info.created.toLocaleString()}
                            .she.said !{info.content}
            fieldset.text-center
                legend 评论
                div.txt
                    textarea#comment-txt.layui-textarea(placeholder='请输入内容', lay-verify='required', name="content")
                    button.layui-btn 回复
        include footer.pug        
    script(src="/layui/layui.js")
    script.
        layui.use(['element', 'layer', 'layedit'], function(){
            const element = layui.element
                layer = layui.layer
                laydate = layui.laydate
            const $ = layui.$
            const idx = layedit.build("comment-txt",{
                tool:[
                    'strong' //加粗
                    ,'italic' //斜体
                    ,'underline' //下划线
                    ,'del' //删除线
                    ,'|' //分割线
                    ,'left' //左对齐
                    ,'center' //居中对齐
                    ,'right' //右对齐
                    ,'link' //超链接
                    ,'unlink' //清除链接
                    ,'face' //表情
                    ,'image' //插入图片
                    ,'help' //帮助
                ],
                height:180
            })
            $('#comment button').click(async()=>{
                let content = layedit.getContent(idx).trim()
                if(content.length === 0 )return layer.msg('评论不能为空')
                const data={
                    content,
                    article: $(".artid").data("artid")
                }
                $.post("/article/addComment",data, (data)=>{
                    layer.msg(data.msg, {
                        icon: 1,//提示的样式
                        time: 1000, //1秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                        end:function(){
                            if(data.status === 1){
                                window.location.reload()//评论发表成功，重新加载页面 = F5
                            }
                        }
                    })
                })
            })
        });
    script
        include ../js-css/js/nav-title.js
        include ../js-css/js/star.js

    