doctype html
html
    style
        include ../js-css/css/star.css
        include ../js-css/css/articleCon.css
    body
        div(id="con") 欢迎来到44js-博客实战
        div(id='articleCon')
            ul
                li 123
                    h1 !{title}
                    span !{keyword}
                    span !{author}
                    span !{interest}
                    span !{desc}
                li 456
    script
        include ../js-css/js/star.js
    