doctype html
html
    style
        include ../js-css/css/star.css
        include ../js-css/css/articleCon.css
    body
        div(id="con") 欢迎来到44js-博客实战
        hr(class="layui-bg-cyan")
        div(id='articleCon')
            ul
                each info in artList
                    li(class='article-list')
                        div(class='articleLeft')
                            a
                                img(src=info.author.headPhoto, alt=info.author, srcset="")
                        div(class="articleRight")
                            h2(class='title') !{info.title}
                            span 作者:
                            span(class='author') !{info.author.username} &nbsp
                            span type:
                            span(class='type') !{info.type}
                            //- span(class='comment') 评论数:!{}
                            div(class='content') !{info.content}
    script
        include ../js-css/js/star.js
    