doctype html
html
    style
        include ../js-css/css/star.css
        include ../js-css/css/articleCon.css
        include ../js-css/layui/css/layui.css
        include ../js-css/css/nav.css

    body
        div(id="con")
        div(id='articleCon')
            ul
                each info in artList
                    li(class='article-list')
                        div(class='articleLeft')
                            a
                                img(src=info.author.headPhoto, alt=info.author, srcset="")
                        div(class="articleRight")
                            a(class='title' href=`/article/${info._id}`) !{info.title}
                            br
                            span 作者:
                            a(class='author') !{info.author.username} &nbsp
                            span 类型:
                            a(class='type') !{info.interest}
                            span(class='comment') 评论数:0
                            div(class='content') !{info.content}
        #paging(data-maxNum=maxNum)
    script(src="/layui/layui.js")
    script.
        layui.use(['laypage', 'layer'], function(){
            let laypage = layui.laypage
                layer = layui.layer;
            const $ = layui.$;
            //- 总页数低于页码总数
            laypage.render({
                elem: 'paging',
                count: $("#paging").data("maxnum"), //数据总数
                //- count: 50, //数据总数
                limit: 3, //筛选 每一页显示几条
                grounds: 3, //显示几个页码 1 2 3
                curr: location.pathname.replace("/page/", ""),
                jump(obj, f){
                    $("#paging a").each((i, v)=>{
                        let pageValue = `/page/${$(v).data("page")}`
                        v.href = pageValue
                    })
                }
            });
            //开启HASH
            //- laypage.render({
            //-     elem: 'paging'
            //-     ,count: 500
            //-     ,curr: location.hash.replace('page/1', '') //获取hash值为fenye的当前页
            //-     ,hash: 'page' //自定义hash值
            //- });
        })
    script
        include ../js-css/js/star.js
        include ../js-css/js/nav-title.js
    
    