doctype html
html
    style
        include ../js-css/css/star.css
        include ../js-css/css/articleCon.css
    body
        div(id="con") 欢迎来到44js-博客实战
        div(id='articleCon')
            ul
                each info in artList
                    li
                        a
                            img(src=info.author.headPhoto, alt="info.author", srcset="")
                        h2
                            a=info.title
                            a=info.interest
                            a=info.desc
                        div
                            a=info.author.username
                            span=info.author._id
                            //- span=info.created.tolocaleString()
    script
        include ../js-css/js/star.js
    